/* Sidebar base */
.sidebar {
  width: 240px;
  min-height: 100vh;
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px; /* altura navbar */
    left: -240px;
    z-index: 1050;
    transition: left 0.3s ease;
  }

  .sidebar.show {
    left: 0;
  }
}

/* DESKTOP */
@media (min-width: 769px) {
  .sidebar {
    position: static;
    left: 0 !important;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px; /* altura navbar */
    left: -260px;
    width: 250px;
    height: 100%;
    background: #212529;
    transition: left 0.3s ease;
    z-index: 1050;
  }

  .sidebar.show {
    left: 0;
  }
}
